[2020-08-12 12:26] mohamadayash opened #1 "when add the package it asks for Xamarin.Google.Android.Material reference"
Hello galadril , Thank you for the great work

I've followed the documentation added the init for android and ios

when add the package using nugets it asks for Xamarin.Google.Android.Material reference , I added the mentioned reference but no luck the badge didn't appear for android ,  it works normally for iOS

![image](https://user-images.githubusercontent.com/11196273/90014654-2026f400-dcb0-11

[2020-08-12 12:34] galadril commented on #1
ill check in the library if it's really needed.. until then, please load and build the sample project.. to see if that works for you

[2020-08-12 13:06] mohamadayash commented on #1
Yes @galadril I've run the android sample app , missing app icon in drawable , added the icon , the badge is showing
I'll add the 3 source project to my app and give it a try

[2020-08-12 13:14] galadril commented on #1
hmm thats then probably because of my last change to add some icons to the sample project & nuget, ill check that out

[2020-08-12 13:25] galadril commented on #1
new nuget version is coming with v1.0.3. that added a fixed dependency with the Xamarin.Google.Android.Material library.
Im now fixing the sample project, so that should be there is couple of minutes

[2020-08-12 13:29] galadril commented on #1
done
please check again

[2020-08-13 07:42] #1 closed

[2020-08-25 09:22] mohamadayash opened #2 "When add style to Tabbar badge doesn't appears on android"
Hello @galadril

When I add a style to tabbar the badge doesn't appear

`
<?xml version="1.0" encoding="UTF-8"?>
<Shell xmlns="http://xamarin.com/schemas/2014/forms"
       xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
       xmlns:d="http://xamarin.com/schemas/2014/forms/design"
       xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
       mc:Ignorable="d"
       x

[2020-08-25 14:28] mohamadayash opened #3 "CustomShellRenderer class should be public"
CustomShellRenderer class should be public so we can inherit from it

[2020-08-25 18:47] galadril commented on #3
Im open for a PR, just created this library quickly to show how to implement badges

[2020-09-03 03:13] mcguu opened #4 "Can customShellRenderer make the shell immsersive?"
there is a bug in xamarin.forms shell that the android can not be immersive.

if write a customshellrenderer can do it?

make the android immersive?

[2020-09-12 14:16] SnowPowerCore opened #5 "Attached properties approach"
Hello @galadril. Instead of using code-behind, can you please think about implementing attached properties, so that we could use functionality within XAML? Here's article from Xamarin Docs: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/attached-properties

[2020-10-21 06:49] galadril commented on #5
you could make a PR ;)

[2020-10-21 06:50] galadril commented on #4
i have no clue..

but as this is not related to this repo, ill close this issue

[2020-10-21 06:50] #4 closed

[2020-10-21 07:26] SnowPowerCore commented on #5
true!
okay, i'll do it this evening (UTC+6)

[2020-10-21 07:27] galadril commented on #5
Thanks!

[2020-10-21 11:58] darrabam commented on #2
@mohamadayash I’m also facing this, did you manage to find a workaround?

@galadril any workaround? or pointers on where should I look for to fix this?

[2020-10-21 17:16] angelru commented on #2
@darrabam @mohamadayash @galadril

 the tab bar appears all blank in the CustomShellRenderer I added this to style it in SetAppearance:

[code]

[2020-10-21 17:18] angelru opened #7 "BottomTab White"
in android, the tab bar appears blank to me

[2020-10-22 07:00] galadril commented on #2
Duplicate #7

[2020-10-22 07:00] #7 closed

[2020-10-22 08:08] angelru commented on #2
any solution? the layout is not applied in android from the xaml in shell

[2020-10-22 20:59] SnowPowerCore commented on #5
@galadril sorry for a little delay: just published PR #8 . Please, accept my invitation to be a collaborator, so you would be able to be assigned as a reviewer. Hope you enjoy changes, we can discuss them if you want;

[2020-10-23 07:30] galadril commented on #5
Ive checked the code a little bit, so that the smaller notifications are more like a circle.

![image](https://user-images.githubusercontent.com/14561640/96969211-6bf8e380-1512-11eb-8bcc-7b4a91ee64bd.png)

[2020-10-23 07:38] galadril commented on #5
I also changed the badge interface naming a little bit

[code]

Thanks for your awesome work..
Nuget is uploaded v1.0.8
Readme is adjusted

thanks

[2020-10-23 07:38] #5 closed

[2020-10-23 07:40] galadril commented on #2
Please update to v1.0.8.
Look at the sample project, its also now styling via:

`<Shell.Resources>
    <ResourceDictionary>
        <Color x:Key="NavigationPrimary">#2196F3</Color>
        <Style x:Key="BaseStyle" TargetType="Element">
            <Setter Property="Shell.BackgroundColor" Value="{StaticResource NavigationPrimary}" />
            <Setter Property="Shell.ForegroundColor" Value="White

[2020-10-23 08:21] angelru commented on #2
many thanks!

I have a question, how to link the properties? to handle it from a viewmodel

[2020-10-23 08:27] SnowPowerCore commented on #2
Hello, @angelru, just like w/ regular properties in a regular manner. You provide BindingContext to the entire page (yes, in this case it will be `Shell`) and then you can do `badge:Badge.Text="{Binding FavoriteItemsCount}"`.

[2020-10-23 09:51] darrabam commented on #2
@SnowPowerCore Thanks for your help. Seems like the api have change considerably. I'm trying to set the badge from the code-behind after receiving a notification from the message center i.e. in my AppShell.xaml.cs:
`            MessagingCenter.Subscribe<ItemDetailViewModel, BasketItem>(this, "ItemAdded", async (sender, arg) =>
            {
                Badge.SetText(this.basketPage, "0");

[2020-10-23 10:05] SnowPowerCore commented on #2
@darrabam, thank you. Yes, mechanism has changed: no longer should you use code-behind approach (you can, though, please read [here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/attached-properties#consume-an-attached-property)), but you should control the value directly in XAML. You can read more in the PR #8 .

[2020-10-23 11:45] darrabam commented on #2
@SnowPowerCore  Thanks for your prompt reply. I did create a ShellViewModel and setup things as normal mvvm, however that didn't work.

Then I set everything statically in the xaml (like the documentation, just for testing) and that also didn't work either!
Both, Android and iOS. XF:4.8.0.1560. Not sure what could be wrong.

Finally, I did try with a new clean project "Tab Template" , updated all

[2020-10-23 11:49] SnowPowerCore commented on #2
@darrabam can you publish your repo? Let's look into the code.

[2020-10-23 12:10] darrabam commented on #2
@SnowPowerCore thanks! there you go: https://github.com/darrabam/BadgeTest
Note also that in Android, using Xam.Shell.Badge.Android is unrecognized, although the nuget package was installed.

[2020-10-23 12:13] SnowPowerCore commented on #2
Can you try to place <Tab> in between of <TabBar> and <ShellContent> and assign all badge:... props to <Tab> element?

[2020-10-23 12:21] darrabam commented on #2
Yes! this did the trick for the blank project. But for my actual project, still not showing the badges. I'll try to replicate the issue and post another project.
Many thanks,

[2020-10-24 13:40] calvinbaart opened #9 "Tabbar stays visible as a white empty bar on iOS even when Shell.TabBarIsVisible is set to false"
Looking at the code it seems to be causes by the iOS renderers forcing Translucent to false. If I recompile the package without those lines in CustomShellRenderer then the bar correctly hides away.

[2020-10-24 14:38] galadril commented on #9
ill test it if you make a PR ;)

[2020-10-24 14:38] #2 closed

[2020-11-04 11:34] Martin-4Spaces opened #10 "Using badge with ShellContent added from code behind"
I not using xaml to add Tabs to my TabBar. I am adding them from code behind like this

[code]
I cannot figure out how to add a Tab with badge properties in this way.
Can you please help me?
Thank you.

[2020-11-05 17:39] SnowPowerCore commented on #10
Hello @Martin-4Spaces, you should use Tab class if you want to assign badges. Here's example:
[code]

[2020-11-05 18:34] Martin-4Spaces commented on #10
It works great on iOS.
Can't get it to work on Android.
When calling SetText, i get this error
[code]

Does this make any sense to you?

[2020-11-05 19:27] darrabam commented on #2
@SnowPowerCore This is to confirm that it is working fine. The issue I mentioned about about my project was due to the fact that I had a CustomShellRenderer for my Android project.
Thanks again,

[2020-11-06 09:46] darrabam opened #11 "Inconsistent Look Between iOS and Android"
Hi there,

Position and size of the badge seems to be different between the two platforms. On iOS it's okay, but on Android it is a bit off. Would be nice to make Android resembles the iOS view as much as possible.

![image](https://user-images.githubusercontent.com/33980667/98350872-fa9a5400-202c-11eb-9729-950f616a9823.png)

----
Also, on Android, the OS text size does affect the tiny badge posit

[2020-11-27 07:36] tkouba commented on #3
And name should be changed to BadgeShellRenderer

[2020-12-01 07:58] SnowPowerCore commented on #11
Hello, @darrabam, consider checking the latest update 1.0.9 for nuget package 😃

[2020-12-01 07:59] SnowPowerCore commented on #10
Hello, @Martin-4Spaces, there's a pull request, which has been applied. It contains new logic for rendering badged on android, please, check out the latest 1.0.9 version of nuget package 😉

[2020-12-01 08:00] SnowPowerCore commented on #9
Hello, @calvinbaart, consider checking the latest nuget package: it has translucency lines removed too!

[2020-12-01 08:01] SnowPowerCore commented on #3
Hello @mohamadayash, starting from 1.0.9 version, renderers are public :3

[2020-12-01 08:02] SnowPowerCore commented on #3
Hello, @tkouba, your request is done 😃

[2020-12-01 13:27] darrabam commented on #11
@SnowPowerCore
1- Yes now the tiny badge looks much more consistent, thanks 👍
2- The normal badges still look horrible on android when the OS text size is set to max.
![image](https://user-images.githubusercontent.com/33980667/100746661-10175980-33f2-11eb-999f-34e0d0d9c267.png)

3- Also, the badge is not clearing when set to "" by the ViewModel ! any other value works as expected, but not empty st

[2020-12-02 00:46] dgerding opened #13 "Question: Xaml Code-Behind"
Hi,
Thanks for this great addition to Xamarin. I'm looking forward to it being merged into main Shell implementation.

In the meantime, I have an embarrassing question. I can't remember the right xaml code-behind approach.

Assuming I've got the following xaml in my AppShell.xaml
[code]
What's the right way to reference the badge from the AppShell.xaml.cs code-behind so I can call Badge.SetText fr

[2020-12-02 19:01] SnowPowerCore commented on #13
Hello @dgerding, you should use Badge.SetText(SomeTab, "2"). First argument is Tab instance, second - actual text value 😉

[2020-12-03 10:33] #3 closed

[2020-12-03 10:33] #9 closed

[2020-12-03 10:34] #10 closed

[2020-12-03 10:34] galadril commented on #13
@dgerding  please close this issue if the info provided by @SnowPowerCore  was enough.

[2020-12-03 11:17] SnowPowerCore commented on #11
Hello, @darrabam, yes, i investigated problem, i'm sorry, missed it when i was testing (i'm testing on both platforms, though). Fix will be applied soon, thank you. I won't be able to fix huge display of badge, when font size of the system is too large, in a near future, but i'm keeping this in mind...

[2020-12-03 15:57] dgerding commented on #13
@SnowPowerCore Thanks for the help. So, should I not use xaml declaration at all? I get the badge to appear and work when I use only code-behind approach. But the button is a little large for the available space and I imagined there might be sizing or other properties eventually available from Xaml side. Is the pattern going to be "code behind only" and should I get rid of the Xaml declaration? Th

[2020-12-05 21:05] #13 closed

[2020-12-07 15:44] Martin-4Spaces commented on #10
It works. Thank you! :)

[2020-12-19 10:06] AdilSaiyad commented on #11
In iOS badge not showing please help me

[2020-12-19 15:27] AdilSaiyad opened #15 "Xamarin iOS Shell Tabbbar sometime showing but sometime not showing badge count"
Hello
I have implement badge in Shell tabbar so it's working fine in Android but in iOS not working.
Example code
[code]

[2020-12-21 04:26] AdilSaiyad commented on #15
Please anyone help me.

[2020-12-21 07:10] galadril commented on #15
Did you run the Init in you AppDelegate?

`            BottomBar.Init();`

[2020-12-21 07:43] AdilSaiyad commented on #15
Yes i have added

[2020-12-21 07:59] AdilSaiyad opened #16 "Xamarin Android After add badge count tab selection color not showing for tab icon."
Please check below image when i select tab for implemented badge count then selection color for tab-icon is not showing.

![Screenshot 2020-12-21 at 1 21 27 PM](https://user-images.githubusercontent.com/45910754/102753031-845d7100-4390-11eb-90ce-b367b85dfdd7.png)

[2020-12-21 08:49] Martin-4Spaces commented on #16
I can confirm this issue.

[2020-12-21 09:10] galadril commented on #16
This is checked against v1.0.10?

[2020-12-21 09:10] galadril commented on #15
This is checked against v1.0.10?

[2020-12-21 09:11] galadril commented on #11
1.0.10 is now available on nuget

[2020-12-21 09:11] Martin-4Spaces commented on #16
Yes.

[2020-12-21 09:19] AdilSaiyad commented on #16
Yes.

[2020-12-21 09:23] AdilSaiyad commented on #15
Yes

Yes.

[2020-12-21 13:06] AdilSaiyad commented on #15
Hello @galadril
have you resolved this issue?

[2020-12-23 11:16] angelo-p82 commented on #16
On 1.0.11 same issue

[2020-12-23 11:20] AdilSaiyad commented on #16
but 1.0.11 is not available right now

[2020-12-23 11:27] angelo-p82 commented on #16
In Visual Studio latest version available is 1.0.11

[2020-12-24 04:49] AdilSaiyad commented on #16
Same issue in 1.0.11

[2021-01-03 19:53] angelru commented on #15
any update?

[2021-01-03 19:54] angelru commented on #16
any update?

[2021-01-04 07:12] AdilSaiyad commented on #16
Not Yet...Please resolved issue

[2021-01-04 07:12] AdilSaiyad commented on #15
Not yet...please resolved issue

[2021-01-04 07:26] galadril commented on #16
Really busy at the moment, please create a PR if you find the fix

[2021-01-04 07:26] galadril commented on #15
Really busy at the moment, please create a PR if you find the fix

[2021-01-04 08:18] angelru commented on #16
can you create a PR?

[2021-01-04 09:12] AdilSaiyad commented on #16
I'm currently busy with other task.

[2021-01-09 12:51] AdilSaiyad opened #19 "Xamarin Forms Shell tab automatically change"
When I have set badge in shell tab bar and in this I have applied multiple language, so if I change language from English to Afrikaans then badge automatically switch to another tab.

It's not working for multiple language.

Please solve all issue.

Thanks in advance!

[2021-01-22 13:36] angelru commented on #16
ups...

[2021-02-09 13:12] jtorvald commented on #15
@AdilSaiyad I had a similar problem. I binded a int property with the value zero. If you look into the source of this library you'll see in iOS/Renderers/BadgeShellItemRenderer:76 (ApplyBadge) that it will show a ● with the color UIColor.Clear.
That results in some grey dot in my case.

Basically I think that this ● can be set to NULL there but I don't know what @galadril  had in mind here.

So to

[2021-02-10 03:31] AdilSaiyad commented on #15
Thanks for your reply

I'll check it out.

Thanks & Best Regards
Adil Saiyad

On Tue, Feb 9, 2021, 6:42 PM Jørgen <notifications@github.com> wrote:

[2021-02-10 09:15] angelru commented on #15
This package will no longer receive updates?

[2021-02-10 12:40] jtorvald commented on #15
@angelru like with all open source I guess it depends on the time of the maintainer(s).
@galadril said he is busy, so if there is issues other people can also look into it and submit a pull request.

[2021-03-19 14:58] darrabam commented on #11
@SnowPowerCore on real devices like Samsung Galaxy S21 or S9 Plus (default font settings), the tiny badge is too large for some season
![image](https://user-images.githubusercontent.com/33980667/111799038-b329ab80-88db-11eb-87d8-eeb8deb7aa8e.png)

Though it works fine on the Google pixel physical or emulator devices, OnePlus, Motorola .... etc.
Any quick hack that I can apply?

Thanks,

[2021-03-30 05:54] rayita commented on #16
Any news on this?

[2021-04-26 13:44] gigimatto88 commented on #16
In 1.0.11 the selected tab has icon color different from the tab title color. While in 1.0.8 this was working...

[2021-04-26 14:45] angelru commented on #16
since this no longer holds, the solution is to use shell + tabview or https://www.sharpnado.com/pure-xamarin-forms-tabs/

[2021-04-30 12:58] sahil-khanna opened #20 "Badge doesn't appear when using CustomShellRenderer (both, iOS and Android)"
I'm using a `CustomShellRenderer` for both iOS and Android. The issue is as below

- When a `CustomShellRenderer` is used, the badges do not appear.
- Commenting the below line in the `CustomShellRenderer` displays the badges
`[assembly: ExportRenderer(typeof(FB.Views.IssuerStartPage), typeof(IssuerShellRenderer))]`

Can anyone guide me to display the badges along with a `CustomShellRenderer`

[2021-06-23 08:28] pp111 commented on #16
It seems that the image color was lost when it was removed and added to the view again
I fixed this issue by just removing in BadgeHelper.cs the lines
`bottomNavigationView.RemoveView(imageView);`
and
`badgeContainerFrameLayout.AddView(imageView)`

for the functions ApplyBadge and ApplyTinyBadge.

It seems to work correctly now, however I don't know if these lines had another purpose.

[2021-08-05 12:25] MNADEEMCH commented on #20
@sahil-khanna  I also facing the same issue on both iOS and Android with custom shell renderer

there is my renderer and in BottomTabBar m doing my stuff.
public class AppShellRenderer : ShellRenderer
    {
        public AppShellRenderer(Context context) : base(context)
        {
        }

        protected override IShellBottomNavViewAppearanceTracker CreateBottomNavViewAppearanceTracker(ShellI

[2021-08-22 15:10] Law85 commented on #16
@pp111 I think this was done so that the image can be placed inside of the BadgeContainer to ensure its was positioned within its parent correctly. When I removed these lines it resulted in fixing the issue but the badges weren't  quite right.  I have tweaked around with the layout options a little and I think I have managed to fix it.

@galadril. I have created a PR for this issue, please let me

[2021-11-07 10:49] darrabam opened #23 "iOS 15 Rendering Bug"
Hi,

There seems to be a breaking change with iOS 15. If you run the sample project, you'll get this:
![image](https://user-images.githubusercontent.com/33980667/140638673-a2cf0348-edcc-4e49-ac77-31a94e830cd4.png)

It's not honoring the text color or the background color.

Could you please look into it? @galadril @SnowPowerCore @LukeWinthorpe

XF version: 5.0.0.2196

Thanks,

[2021-12-03 14:54] jm-parent commented on #23
Same here ;)

XF 5.0.0.2244

iOS 15 is a pain for a lot of nugets

[2021-12-07 13:17] TanishqThakral commented on #20
@sahil-khanna @MNADEEMCH @galadril   Have you found any workaround for this issue ?

[2022-01-23 23:13] SnowPowerCore commented on #11
@darrabam, i know this is occasional and you may not be involved into using this library as of now, but i've introduced new logic for Android Badges within my recent PR #24. Sorry that it took almost a year to return.

[2022-01-23 23:17] SnowPowerCore commented on #16
@rayita @angelru, this may not be recent for you anymore, but i've introduced new logic for rendering badges on Android with the following PR: #24. If you're still interested, you may check it out.

[2022-01-23 23:19] SnowPowerCore commented on #19
@AdilSaiyad, this may not be recent for you anymore, but if occasionally it is, can you check the updated logic with the #24 PR?

[2022-01-23 23:21] SnowPowerCore commented on #20
You may implement the same logic as this library does by visiting sources and adding related code into the necessary platform renderers.

[2022-01-23 23:23] SnowPowerCore commented on #20
Also, @sokrog, check out my #24 PR for easier and more straightforward implementation of Badges for Android.

[2022-01-24 06:11] sokrog commented on #20
I have already resolve my problem by adding related code to my project, thanks all =)

[2022-01-24 22:01] #20 closed

[2022-01-24 22:03] SnowPowerCore commented on #11
If this is still relevant for Android, please, create new issue, but i think #24 should pretty much resolve it due to the offloading of the entire logic to the Material Components Library Badge feature ([read here](https://github.com/material-components/material-components-android/blob/master/docs/components/BadgeDrawable.md)).

[2022-01-24 22:03] #11 closed

[2022-01-24 22:05] SnowPowerCore commented on #15
@angelru, please, try the latest v.1.0.12 package. If you still experience this issue, feel free to create new issue.

[2022-01-24 22:05] #15 closed

[2022-01-24 22:07] SnowPowerCore commented on #16
@rayita, @angelru, try the new v.1.0.12 of the Nuget package. If you still experience problem, feel free to create new issue.

[2022-01-24 22:07] #16 closed

[2022-01-24 22:08] SnowPowerCore commented on #19
@AdilSaiyad, a new v.1.0.12 has been introduced. If you still experience this problem, feel free to create new issue.

[2022-01-24 22:08] #19 closed

[2022-01-24 22:14] galadril commented on #20
Looks like i've issues with the latest nuget because of my build setup..

[2022-01-25 21:36] SnowPowerCore commented on #23
@darrabam, @jm-parent, can you confirm this isn't fixed by the 1.0.13 nuget package version?

[2022-01-31 10:03] michaelonz opened #25 "Netstandard 2 support"
This doesnt appear to work on netstandard 2 projects

You get the following errors adding it - NOTE I changed project name to XXXX for privacy reasons

Restoring packages for D:\Share\repomike\XXXX\XXXX\XXXX.csproj...
Restoring packages for D:\Share\repomike\XXXX\XXXX.iOS\XXXX.iOS.csproj...
Restoring packages for D:\Share\repomike\XXXX\XXXX.Android\XXXX.Android.csproj...
NU1202: Package Xam.Shell.

[2022-01-31 10:06] SnowPowerCore commented on #25
Hello, @michaelonz, is it possible for you to update your private shared .NET Standard project to `netstandard2.1` by editing its `.csproj` file?

[2022-01-31 11:41] michaelonz commented on #25
I have converted it to 2.1 but am getting a null reference exception (error pasted below):

Interesting part is the error is clearly in the badge - but I have NOT put any badges on tabs at this point?

[mono-rt] [ERROR] FATAL UNHANDLED EXCEPTION: System.NullReferenceException: Object reference not set to an instance of an object.
[mono-rt]   at Xam.Shell.Badge.Droid.Renderers.BadgeShellItemRendere

[2022-01-31 14:09] SnowPowerCore commented on #25
Thank you for this stacktrace.

[2022-01-31 14:40] SnowPowerCore commented on #25
@michaelonz, can i ask you, if you could provide the name of your emulator, device name and OS you were trying to test this library on...

[2022-02-01 17:18] SnowPowerCore commented on #23
Hello, @darrabam, @jm-parent, i will close this issue, if the problem is still there for you, feel free to open a new issue, but i tested the latest 1.0.13 nuget package on iOS - it should be respecting the background and text colors.

[2022-02-01 19:34] michaelonz commented on #25
Hi - I will run the sample on my emulator and try and work out the differences and let you what caused it - I will report back here.

[2022-02-02 04:13] michaelonz commented on #25
Hi SnowPowerCore,
   Using your sample i have worked out the trigger for the exception:

this is your sample shell tab layout:

 <TabBar x:Name="tabBar">
        <Tab Icon="baseline_accessibility_white_24"
             Title="Test1"
             badge:Badge.BackgroundColor="{Binding Badge1Color}"
             badge:Badge.Text="{Binding Badge1Text}">
            <ShellContent  ContentTemplate="{Dat

[2022-02-02 11:32] SnowPowerCore commented on #25
Thank you, @michaelonz, i was able to fix it by the information received from you. PR #26 was published.

[2022-02-02 22:42] michaelonz commented on #25
Hi SnowPowerCore,
    Im not sure how to test this from the PR?  Are you able to roll it onto a nuget?

[2022-02-03 09:28] galadril commented on #25
Package is now available on Nuget on v1.0.15

[2022-02-03 09:50] SnowPowerCore commented on #25
Thank you, @galadril :)

[2022-02-03 21:32] jtorvald opened #27 "Xam.Shell.Badge 1.0.15 depends on Xamarin.Forms (>= 4.0.0)"
In my package console I get:
Xam.Shell.Badge 1.0.15 depends on Xamarin.Forms (>= 4.0.0) but Xamarin.Forms 4.0.0 was not found. An approximate best match of Xamarin.Forms 4.0.0.425677 was resolved.

Not sure if this is an issue, but isn't there dependency tag to say that it also supports 5?

[2022-02-04 09:10] SnowPowerCore commented on #27
Hello, @jtorvald, version `5.0.0.2291` was used as a dependency for the sources of this library. You may try to upgrade your projects (both `.NET Standard` and platform ones) to this version to resolve this console warning.

[2022-02-04 09:11] SnowPowerCore commented on #25
Hello, @michaelonz, can you confirm the problem is solved?

[2022-02-04 09:57] jtorvald commented on #27
Argh, I was supposed to be in bed already when I reporting this. I'm trying to fix an issue in Xamarin Forms so I referenced the development branch and therefor it can not find the package. Apologies for stealing your time.

[2022-02-04 09:57] #27 closed

[2022-02-04 11:20] michaelonz commented on #25
Hi,
  It still won’t run and I just have to resolve an issue in another oorojwct then I will take another look - there
Must be a 2nd issue I suspect…. I will try and narrow it down again by taking my code over to the sample a piece at a time…. I will try and get it done this weekend - I will report back here.

Regards

Mike

[2022-02-04 14:04] SnowPowerCore commented on #25
@michaelonz, no problem, thank you for reporting

[2022-02-07 17:03] jtorvald opened #28 "error XA2002: Can not resolve reference: `AsyncAwaitBestPractices`"
Are you aware of this? Is it intentional or a mistake?

error XA2002: Can not resolve reference: `AsyncAwaitBestPractices`, referenced by `Xam.Shell.Badge.Android`. Please add a NuGet package or assembly reference for `AsyncAwaitBestPractices`, or remove the reference to `Xam.Shell.Badge.Android`.

[2022-02-07 17:06] jtorvald opened #29 "[BUG] System.ObjectDisposedException: Cannot access a disposed object."
On Android I get this exception with the latest version:
[code]
Which looks very much like:
https://github.com/xamarin/Xamarin.Forms/issues/8145

[2022-02-08 11:47] SnowPowerCore commented on #28
Hello, i'm not sure this should be the problem since `AsyncAwaitBestPractices` is a .NET Standard library, thus should be compatible with android and iOS projects... Anyway, this issue was a good base for me too re-visit Nuget dependencies and clean them up. Changes are available with the PR #30.

[2022-02-08 11:49] jtorvald commented on #28
It's not that it didn't get added from the dependencies after instating the package. Thanks for the quick follow up

[2022-02-08 11:51] SnowPowerCore commented on #29
Hello. I was not able to reproduce it, even with instructions mentioned in [this](https://github.com/xamarin/Xamarin.Forms/issues/8145#issuecomment-661027729) comment. Could you please provide a sample project and additional information on whether you're using Android emulator for this and if yes, please leave a name of the device and OS API version.

[2022-02-08 11:52] SnowPowerCore commented on #29
I've added null-check in the recent #30 PR, but it may not be enough as i'm not able to reproduce it.

[2022-02-08 12:19] jtorvald commented on #29
I added a try catch around the body of ApplyBadge and that at least seems to help android not to crash. I tried to see if I can solve the issue but haven't been able to till now.
I will try to make a sample project. Thanks.

[2022-02-08 12:39] #28 closed, assigned to nobody

[2022-02-08 20:52] jtorvald commented on #29
I created a sample project and guess what... it works... But I won't rest until I can reproduce or solve the issue. Will let you know.

[2022-02-09 08:41] SnowPowerCore commented on #29
Hello, @jtorvald, no problem, i'm here if any help is needed...

[2022-02-11 13:13] SnowPowerCore commented on #25
Hello, @michaelonz, do you have an update on the state of this issue?

[2022-02-11 23:26] michaelonz commented on #25
Hi @SnowPowerCore,
   Today I downloaded the sample again (v 1.0.17) and modified the shell to have

[code]
When you run the sample it still blows up with:

System.IndexOutOfRangeException: Index was outside the bounds of the array.
  at Xam.Shell.Badge.iOS.Renderers.BadgeShellItemRenderer.ApplyBadge (System.Int32 index, System.String text, Xamarin.Forms.Color bg, Xamarin.Forms.Color textColor) [0

[2022-02-14 20:28] SnowPowerCore commented on #25
Hello, @michaelonz, thank you for reporting. With the stacktrace you specified before your new message it was obvious that it was an Android issue. You haven't mentioned iOS before this new comment.
#31 PR resolves this for iOS. Android should be resolved since Nuget package v1.0.15 and #26.

[2022-02-15 10:40] SnowPowerCore commented on #29
Hello, @jtorvald, do you have any update on this issue? Were you able to consistently reproduce this under your sample project with the latest Nuget package?

[2022-02-15 10:42] jtorvald commented on #29
@SnowPowerCore Hi thanks for following up. No, I have to give up. Also in my own project the exception disappeared and I don't know why. I will create a new issue when it happens again and if I'm able to reproduce it. Maybe it was just a Xamarin glitch.

[2022-02-17 20:25] michaelonz commented on #25
Hi Guys,
    I have tested the original issue on android and with v 1.17 when you set Visible=False it works now as expected so that is good - I will test ios later today hopefully.

I am also using FontImageSource  (eg using fontawesome for the image) on my existing tabs -eg

        <Tab
             Title="Test1"
             badge:Badge.BackgroundColor="{Binding Badge1Color}"
             badg

[2022-02-18 21:28] michaelonz commented on #25
Hi Guys,
  Tested #31 on IOS today and the IsVisible=False is now working correctly on IOS - so I think that we can close off the initial issue.

There are 2 things I have noticed while testing this :

1) As per above FontImageSource isn't supported but it would be great if that worked as its a common use case now
2) I also noted that when you click the 'Change Colour First Badge' buttons in the s

[2022-02-19 18:58] darrabam commented on #23
@SnowPowerCore Many thanks! I've tested 1.0.17 on my project, but unfortunately doesn't fix this issue. I'll open a new ticket with details as advised.

[2022-02-20 23:26] SnowPowerCore commented on #25
Hello, @michaelonz. I've followed this [instruction](https://www.damirscorner.com/blog/posts/20201113-UsingFontAwesomeInXamarinForms.html) and have successfully replaced one of the `Tab` item's icon with `FontImageSource`.
[code]

![image](https://user-images.githubusercontent.com/35460261/154868905-c73a9dee-3249-444b-baab-ad556edf4409.png)
_(Thumbs up icon comes from FontAwesome)_.

Also, i'm una

[2022-02-20 23:32] SnowPowerCore commented on #23
@darrabam, thank you for replying, let's continue within this issue. I've updated the recent PR #31 with one change on how iOS handles the color to match the Android's behavior, so it may help you.

[2022-02-21 04:56] michaelonz commented on #25
Hi Guys,
   I retested and it was a typo - fontawesome does work (at least it did on android - havent tested ios yet).
So I guess this means we are all done. Can we roll fix #31  into a nuget so we can use nuget to add the fix to the app (I guess nuget version 18 as original test was on 17).

Thanks for the great support

[2022-02-21 08:24] SnowPowerCore commented on #25
@galadril, we need your help on this.

[2022-02-21 08:52] galadril commented on #25
I've merged it, but im not able to build a nuget at the moment.
Ill probably have time within 12 hours!

[2022-02-21 09:09] SnowPowerCore commented on #25
@galadril, thank you

[2022-02-21 09:29] michaelonz commented on #25
Hi @SnowPowerCore  and @galadril ,

 I moved this into my app and actually found that under a specific circumstance it still does have an issue and i have replicated it below in the sample.

If you use the sample and change the tabs to the following:

You would expect to see tab1,tab3,tab4 (tab2 should be invisible)

`<TabBar x:Name="tabBar">
        <Tab  IsVisible="True"
             Title="Test

[2022-02-21 20:30] galadril commented on #25
Created new nuget package: `v1.0.18`

[2022-02-21 21:42] michaelonz commented on #25
thanks @galadril  - can the issue above be resolved?  (the one where it is showing the badge text on the wrong tab) - its 2 comments back from here - basically take the tab code i showed and it replicates in the sample

[2022-02-23 08:11] michaelonz commented on #25
hi @galadril - any change of investigating the issue above (badge text shows on wrong tab when you set IsVisible = false on preceeding tabs - i have supplied sample tab code above to replicate. (NOTE I was testing on android - have not tried that on IOS as yet)

[2022-02-23 11:35] TanishqThakral commented on #20
@galadril Is this issue fixed now?

[2022-02-25 09:07] SnowPowerCore commented on #25
@michaelonz, i'm sorry, fix will be delayed until the weekends.

[2022-02-28 21:31] AaronBastian commented on #23
We ran into this issue as well. iOS 15 has added a `ScrollEdgeAppearance` property to the `UITabBar` that causes this behavior. To get this to work, the UIColor needs to be applied to the UITabBar Standard Appearance - StackedLayoutAppearance, InlineLayoutAppearance, CompactInlineLayoutAppearance, StandardAppearance, AND (in iOS 15) the ScrollEdgeAppearance. If given the opportunity, I'll try to t

[2022-02-28 21:51] Imodejam opened #32 "Badge doesn't contain the text"
Hi, I'm trying to insert the badge into a TabBar and binding the text with a property.
The effect is that the text is filled but the badge doesn't contain the text. It's size doesn't grow up the the text.

![Immagine 2022-02-28 185802](https://user-images.githubusercontent.com/94759037/156034536-014ec71d-0213-4659-8f03-4698c0fb1ceb.png)

this is the text of the form

        <Tab
            Title

[2022-03-03 19:05] michaelonz commented on #25
Hi @SnowPowerCore  - I have tested on IOS now and it has the same issue as well where the badge appears on the wrong tab when you set a preceeding one to IsVisible = false (see my sample tabs above to replicate posted feb21 20:29pm).  My guess is its using the tabindex and not checking if IsVisible = false as it works through..... let me know when you would like it tested.

[2022-03-04 21:37] slprog1 commented on #32
Hello,

I'm facing a number of related issues, I guess.
The badge only works when i set its value to any number, when the text is set to "0", it is shown with weird white circle in it. Also setting background color does not work, neither setting text color.

I'm running on the latest Xamarin.Forms version 5.0.02337
Maybe that is the reason of such huge amounts of issues I'm currently facing.
Runni

[2022-03-07 04:28] michaelonz commented on #25
@galadril - is there any chance of getting the last issue above resolved? - its basically unusable right now when you show/hide a tab in the shell because the badge moves to the wrong tab.

[2022-03-07 12:30] SnowPowerCore commented on #25
@michaelonz, hello, my deepest apologizes. I will try to resolve this either today, or tomorrow.

[2022-03-07 23:01] michaelonz commented on #25
Thanks @SnowPowerCore

[2022-03-10 20:27] michaelonz commented on #25
@SnowPowerCore  any luck?

[2022-03-11 10:14] SnowPowerCore commented on #25
@michaelonz, hello, yes, i'm trying to fix all opened issue and compile them into one PR. Meanwhile, please, follow the changes available in the new branch `[bugfix/Fixing-Recent-Issues-#23-#25-#32](https://github.com/galadril/Xam.Shell.Badge/tree/bugfix/Fixing-Recent-Issues-%2323-%2325-%2332)`.

[2022-03-11 18:58] michaelonz commented on #25
Hi @SnowPowerCore - sounds like good progress. Would be good if flyoutit could also support badge as well.

[2022-03-12 14:09] SnowPowerCore commented on #23
@AaronBastian, you're free to create PR if you wish to help.

[2022-03-12 21:28] michaelonz commented on #25
Hi Guys,
  I downloaded this and tested it and initial tests look good (NOTE: I had to add some references to projects to get the src to compile) but once it compiled it worked as expected.  I think this can be rolled into a Nuget now - thanks.

[2022-03-16 13:10] slprog1 commented on #23
Hello guys,
@AaronBastian do you have any example for where to set the ScrollEdgeAppearance property?
I've created a custom renderer and set that property there, but when running the app the badge isn't shown at all(

[2022-03-18 22:00] CarlosIDM opened #34 "Crash Xiaomi"
I am testing the plugin in a Tab of the xamarin forms shell, but when executing the app on a physical device xiaomi android 10, poco x3 the app crashes

android.runtime.JavaProxyThrowable: System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'Google.Android.Material.BottomNavigation.BottomNavigationView'.
  at Java.Interop.JniPeerMembers.AssertSelf (Java.Interop.IJavaPeera

[2022-03-23 12:41] SnowPowerCore commented on #34
Hello, @CarlosIDM, thank you for the report. I'll look into it on the coming days.

[2022-03-25 20:26] michaelonz commented on #25
Hi @galadril and @SnowPowerCore - I have tested this on both android and iOS now and it works well - the text containment issue and the text on the wrong badge - both issues can be closed on both platforms.  Thanks for the effort guys. Adding fly out badges would be a good improvement but that’s not a show stopper for me (just a nice to have that would mean this plugin covers most badge scenarios

[2022-03-25 22:06] SnowPowerCore commented on #25
@michaelonz, thanks for the review and for the tip. After we merge the current PR, i'll look into possible ways of adding badges to Shell flyout menus.

[2022-04-04 11:24] SnowPowerCore commented on #25
@michaelonz, i'm closing this issue as it has become pretty large and you've reported that everything works fine when you pulled those changes into the local environment. If you find any other problem, please, feel free to create new issue.

[2022-04-04 11:25] #25 closed

[2022-04-04 11:26] SnowPowerCore commented on #32
@Imodejam @slprog1, can you re-test with the latest 1.0.19 Nuget package? This issue should be resolved for you now.

[2022-04-04 14:58] krunalBagadia opened #35 "Badge not Showing up"
Thanks for Plugin first of all. it works well in IOS but for and Android if TabBarBackgroundColor="White" Badge is not showing up.

Please share your thoughts asap so i can use it well into my proj.

[2022-04-05 20:00] SnowPowerCore commented on #35
Hello, @krunalBagadia, you can change badge color to not to match the TabBar color by changing the Badge.BackgroundColor & Badge.TextColor. It should work with no problem for Android too.

[2022-04-11 23:42] Imodejam opened #36 "ObjectDisposedException: Cannot access a disposed object on BottomNavigationView"
Hi everyone,
i have a problem.
I used the badge here:

[code]

I launch my android app with the command MainPage = new AppShell(); and first time it's all ok.
Then i have to recall the command MainPage = new AppShell(); but at the end i obtain the following error message:

`[mono-rt] [ERROR] FATAL UNHANDLED EXCEPTION: System.ObjectDisposedException: Cannot access a disposed object.
[mono-rt] Objec

[2022-04-15 15:04] SnowPowerCore commented on #36
@Imodejam, thank you, i have identified an issue and will publish PR shortly.

[2022-04-16 08:30] SnowPowerCore commented on #35
Hello, @krunalBagadia, i've identified this issue. Fix is coming up.

[2022-04-16 08:48] SnowPowerCore commented on #32
@Imodejam, hello, do you have any updates on the status of this issue? As far as i can test, this should be working good right now, especially after changes on the Android renderer...

[2022-04-16 08:50] SnowPowerCore commented on #23
@AaronBastian, i will not be able to test this in the close future as i'm stuck on macOS 10.14, which doesn't support XCode 13, which is required for iOS 15.

[2022-04-25 21:19] SnowPowerCore commented on #36
@Imodejam, hello, if possible, please confirm this issue is resolved within the recent 1.0.20.

[2022-04-25 21:20] SnowPowerCore commented on #34
@CarlosIDM, hello, if possible, please confirm this issue is resolved within the recent 1.0.20.

[2022-04-26 11:29] SnowPowerCore commented on #32
@Imodejam, hello, i'll be closing this issue due to the test i performed. It should be working now.

[2022-04-26 11:29] #32 closed

[2022-04-26 16:39] mcapplication20 opened #38 "ObjectDisposedException: Cannot access a disposed object on ShellFlyoutRenderer"
Hello. In 1.0.19 version I got "Cannot access a disposed object on BottomNavigationView". now it seems issue is fixed but I got another "Cannot access a disposed object", and it's "xamarin.forms.platform.android.shellflyoutrenderer"

I'm using:

Xamarin.forms 5.0.0.2337
Xam.Shell.Badge 1.0.20

No issue on iOS

[2022-04-26 17:38] SnowPowerCore commented on #38
@mcapplication20, thank you, i'll investigate your issue. There shouldn't be any change in the "xamarin.forms.platform.android.shellflyoutrenderer" from this library.

[2022-04-26 18:09] mcapplication20 commented on #38
I’ll make some different prove and I’ll update you

[2022-04-29 17:51] nellogaudino commented on #34
Hi, the issue is not resolved, when I publish app in Release mode on Xiomi device, the app crash.
Thank you.

LOG: MonoDroid] UNHANDLED EXCEPTION:
[MonoDroid] Android.Runtime.JavaProxyThrowable: Exception of type 'Android.Runtime.JavaProxyThrowable' was thrown.
[MonoDroid]   --- End of managed Android.Runtime.JavaProxyThrowable stack trace ---
[MonoDroid] android.runtime.JavaProxyThrowable: System

[2022-04-29 18:06] SnowPowerCore commented on #34
Hello, @nellogaudino, i think, it's a different problem, you should create new issue about it.

[2022-04-29 18:30] nellogaudino opened #39 "Crash Xiomi in release mode."
Hi, in my Xamarin android app I use Xamarin.Shell.Badge in Tab control; it work fine when I test app on my Xiomi physical device (debug mode); when I test my app in release mode or thought Google Play Store beta test, the app crash. The error is:

LOG: MonoDroid] UNHANDLED EXCEPTION:
[MonoDroid] Android.Runtime.JavaProxyThrowable: Exception of type 'Android.Runtime.JavaProxyThrowable' was thrown.

[2022-04-29 18:31] nellogaudino commented on #34
Done, thank you.

[2022-04-29 18:39] SnowPowerCore commented on #39
Hello, @nellogaudino, when you set your Linker behaviour to None, do you have the same problem appearing? Can you re-create the release and try with this setting?

[2022-04-30 08:33] nellogaudino commented on #39
Hello, when I set linker behavior to "None" or to "Link SDK assemblies only" all work fine. My previous setting was "Link all assemblies"
Thank you!

[2022-04-30 10:20] SnowPowerCore commented on #39
Yes, please, use "Link SDK assemblies only" or configure your Linker settings file deeply. It is really rare to use "Link all assemblies" option, cause it may lead to unpredictable errors and you don't save much APK size in comparison with "Link SDK assemblies only" (recommended option).

[2022-04-30 10:20] #39 closed

[2022-04-30 17:08] SnowPowerCore commented on #34
Hello, @CarlosIDM, so far i can confirm that this issue is resolved by 1.0.20 version, so i'm closing this topic. If you experience any other problems, feel free to create new PRs.

[2022-04-30 17:08] #34 closed

[2022-04-30 17:09] SnowPowerCore commented on #36
@Imodejam, hello, after i've performed some tests, i can confirm this issue is resolved. Please, create new issue if you have any other problem going on.

[2022-04-30 17:09] #36 closed

[2022-04-30 17:10] SnowPowerCore commented on #35
Hello, @krunalBagadia, i've tested this thoroughly, and i can confirm this issue is resolved. If you experience any other problem in future, feel free to create new issues.

[2022-04-30 17:10] #35 closed

[2022-05-02 21:10] mcapplication20 commented on #38
Update: it seems I did a mistake in my code, plugin is working perfectly even on android devices. I have some issue handling notifications but it's not linked to plugin. thanks for your incredible work

[2022-05-02 21:29] SnowPowerCore commented on #38
@mcapplication20, hello, oh, good, thank you for this information.

[2022-05-02 21:29] #38 closed

[2022-05-02 21:52] mcapplication20 commented on #38
UPDATE: anyway it seems I got issue only when I install this plugin. I'm using Azure notification and Plugin.AzurePushNotification to handle notifications. When app is in background and user clicks on notification, CrossAzurePushNotification.Current.OnNotificationReceived fires. In this method I "push" user to the right page and I got issue. no problem on iOS and no problem on android without plug

[2022-05-02 21:53] SnowPowerCore commented on #38
Try to invoke the navigation code using Device.InvokeOnMainThreadAsync.

[2022-05-02 22:00] mcapplication20 commented on #38
Same issue with Device.BeginInvokeOnMainThread and Device.InvokeOnMainThreadAsync

[2022-05-03 11:24] mcapplication20 commented on #38
after a lot of work, I confirm that plugin works like a charm; it's my code issue. so thank you very much for your incredible work and support

[2022-05-03 11:27] SnowPowerCore commented on #38
@mcapplication20, hello, thank you for information. Good that you're able to resolve situation.

[2022-05-20 20:19] michaelonz opened #40 "Badges on top tabs"
Hi,
   I am currently using the badge on the bottom tabs in iOS and Android - is it possible to make the badge work on top tabs also? Or do you know of a work around ?

[2022-05-27 08:45] SnowPowerCore commented on #40
Hello, @michaelonz, thank you for heading with this request. I remember you've asked about it, i do have an intention to work towards this, but no free time is picking up as of now... I'm keeping this in mind.

[2022-06-08 20:01] SnowPowerCore commented on #40
Hello, i will have free time to work with this this weekends.

[2022-06-08 20:03] SnowPowerCore commented on #23
@AaronBastian, recently i've acquired ability to test stuff on the latest iOS, so i may return into this issue.

[2022-06-09 22:28] michaelonz commented on #40
great - I can test it on android and IOS once you have done the changes if that helps

[2022-07-21 20:43] Westat-Transportation opened #42 "Crashes on App Start on iOS"
I am seeing the following crashes when using the PlugIn on iOS phones (15.5):

[code]

These happen as the application is loading and brings down the whole thing.  I am seeing this on both the latest XF (5.0.0.2478) and the one with which this pkg was last released (version 1.20 -> XF 5.0.0.2401).

[2022-07-21 20:46] Westat-Transportation commented on #42
As you can see from the stack trace the app crashes on Xam.Shell.Badge.iOS.Renderers.BadgeShellItemRenderer.InitBadges().

The funny thing is that when we first load the app on a phone (fresh side-load or install) we see no crashes.  But over time (in a few days on average) we start seeing these crashes - the work around if for users to remove the app and re-install it.

[2022-07-21 20:47] Westat-Transportation commented on #42
We were able to resolve the issue by adding null checks to the InitBadges() method on iOS.  After that the method looks like this:

[code]

[2022-07-21 20:52] Westat-Transportation commented on #42
Let me know if you'd like me to submit a PR.

[2022-08-26 08:01] borrmann commented on #42
Hi @Westat-Transportation,
I am facing the same problem and would like to try your solution. Did you download the source code or is there a way to override or extend the iOs Renderer to use your function?

[2022-08-26 13:58] Westat-Transportation commented on #42
@borrmann, we ended up forking the code and building it using our internal CI/CD and Westat private nuget repo.  Here's the link to the built library if you want to try that on your code base.  I would gladly submit a PR but it seems like the owner of this project is not monitoring its issues -> https://1drv.ms/u/s!Aqc5oOA9-xpJg8cF8CtWo31qF3S0Kg?e=mqWUsz

[2022-08-26 14:00] Westat-Transportation commented on #42
@borrmann, just saw you gave my initial comment here a thumbs up.  Should I submit a PR with the fix I described here?

[2022-08-26 14:00] galadril commented on #42
Plz make a PR, ill publish then a new version

[2022-08-26 14:30] Westat-Transportation commented on #42
PR submitted.

[2022-08-26 19:38] galadril commented on #42
New version is uploaded to nuget, pls close this issue if this solves it.

[2022-08-31 09:26] borrmann commented on #42
I am not running into any crashes anymore. So I think this should be marked closed! Thanks @Westat-Transportation and @galadril

[2022-08-31 09:37] #42 closed

[2022-11-22 11:08] lesha724 opened #47 "Badge not showing"
if we have more than 5 tabs, then badges are displayed only for the first four
![Screenshot_1669114910](https://user-images.githubusercontent.com/8524434/203298323-afa31e6d-785a-47e8-8618-cda864eaf0e6.png)
![Screenshot_1669114915](https://user-images.githubusercontent.com/8524434/203298325-37a58c69-7448-48d4-ab9b-fab34849beef.png)